ENABLE_MYSQL=0 # DO MYSQL BACKUP ?
ENABLE_SVN=1 # DO SVN BACKUP ?
ENABLE_GIT=1 # DO GIT BACKUP ?
ENABLE_FILES=1 # DO FILES BACKUP ?
ENABLE_FS=0 # DO RSYNC BACKUP ?

MYSQL_USER="sample" # MYSQL USER
MYSQL_PASS="password" # MYSQL PASS
MYSQL_HOST="localhost" # MYSQL HOST
FS_USER="user" # USER FOR NFS CONNECION
FS_PASS="pass" # PASS FOR NFS CONNECION
LOCAL_MNT="/mnt/backup" # WHERE REMOTE FS IS MOUNTED
BACKUP_DIR="/tmp/backup/" # TEMP DIR FOR BACKUPS
BACKUP_HOST="192.168.1.100" # BACKUP SERVER
SVN_ROOT="/root/svn/" # LOCATION OF SVN REPOSITORIES
GIT_ROOT="/root/git" # LOCATION OF GIT REPOSITORIES
REMOTE_FS_TYPE_NORMAL="nfs" # NFS FILESYSTEM FOR COPYING BACKUPS (nfs,nfs4,cifs)
REMOTE_FS_TYPE_RSYNC="cifs" # NFS FILESYSTEM FOR RSYNC (nfs,nfs4,cifs)
FILES_INCLUDE="/etc /home/user1 /var/log" # WHAT TO INCLUDE IN 'FILES' BACKUP
RSYNC_DIRS="/bigdisk /boot /root /home /etc /opt /var" # WHAT TO INCLUDE WHILE RSYNC
RSYNC_EXCLUDES="--exclude=/var/spool/postfix --exclude=/var/cache" # WHAT TO EXCLUDE WHILE RSYNC

